<body>
    
    <div class="auth-conteiner">
        <img class="logo_ford" src="ArquivosDeSuporteDesafioAngular/img/ford.png" alt="Logo Ford" style="height: 100px; width:200px">
        
        <h2>{{isLoginMode ? 'Login' : 'Cadastro'}}</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div *ngIf="!isLoginMode">
                <label for="name">Nome Completo:</label>
                <input id="name" formControlName="name" placeholder="Ex: João Silva"/>
            </div>

            <label for="login">Usuário:</label>
            <input id="login" type="text" formControlName="login" placeholder="Ex: admin"/>

            <label for="password">Senha:</label>
            <input id="password" type="password" formControlName="password" [placeholder]="isLoginMode ? '' : 'Informe pelo menos 6 digitos'">

            <button type="submit">{{isLoginMode ? 'Entrar' : 'Cadastrar'}}</button>
        </form>

        <p>
            {{isLoginMode ? '' : 'Já tem conta?'}}
            <button type="button" (click)="toggleMode()">{{isLoginMode ? '': 'Fazer login'}}</button>
        </p>
    </div>
    
</body>